<div class="about">
  <div class="grid grid-pad">
    <div class="col-6-12">
      <div class="content">
        <img class="main-image" src="https://s3-eu-west-1.amazonaws.com/madebymim/about/mim-fire.jpg"/>
      </div>
    </div>
    <div class="col-6-12">
      <div class="content description">
        <p>Four years ago I decided it was time for  change. Children left, a lifetime in social care behind me, I decided it was time to be creative. I have always made ‘stuff’ and created colourful houses and gardens for my family, but I needed to do more. To make a new career from my skills.</p>
        <p>I started  at Plymouth College of Art and I learned to blow glass, cast glass and silversmith among other  creative skills. This new direction for me and I hope you appreciate my work </p>
        <p>I make beautiful, colourful, quirky thoughtful pieces of art/craft by hand using glass and sometimes combining it with silver. I bridge the gap between entirely wacky and traditional offering a contemporary angle to well loved shapes and styles.</p>
      </div>
    </div>
  </div>
</div>