<div class="contact">
  <div class="grid grid-pad">
    <div class="col-1-4">
      <div class="content"></div>
    </div>
    <div class="col-4-4">
      <div class="content">
        I make beautiful, colourful, quirky thoughtful pieces of art/craft by hand using glass and sometimes combining it with silver. I bridge the gap between entirely wacky and traditional offering a contemporary angle to well loved shapes and styles.

        I welcome contact and am happy to make commissions.
        <a href="madebymimincornwall@gmail.com" target="_top">Please contact me for any details</a>
      </div>
    </div>
    <div class="col-1-4">
      <div class="content"></div>
    </div>
  </div>
</div>