<!-- TODO
sort out nav bar listings
sort out links in nav bar
change madebymim main to blue colour

gallery
sort out images
sort out modal
sort out colour scheme
sort out ratio sizing

backend:
make it smarter in general
get devise working on there -->


<!-- big image of glass - blue cutaway from top
one line of text - 'MadebyMim' linking to gallery -->

<!-- gallery - modal - with text at bottom - not underneath -->

<!-- contact and about - very similar to normal websites - but with dynamic images, possibly videos -->
<!-- <img src="https://s3-eu-west-1.amazonaws.com/madebymim/homepage/Green+layerslong2.jpg"> -->

<div class="main-image">
  <div class="grid grid-pad">
    <div class="col-1-1">
      <div class="content">
        <a href="/products">[ MadeByMim ]</a>
      </div>
    </div>
  </div>
</div>
