<!-- TODO
gallery
sort out images
sort out modal
sort out colour scheme
sort out ratio sizing

backend:
make it smarter in general
get devise working on there -->


<!-- gallery - modal - with text at bottom - not underneath -->

<!-- contact and about - very similar to normal websites - but with dynamic images, possibly videos -->

<div class="main-image">
  <div class="grid grid-pad">
    <div class="col-1-1">
      <div class="content">
        <a href="/products">[ MadeByMim ]</a>
      </div>
    </div>
  </div>
</div>