.nav-bar {
  font-family: 'Poiret One', Helvetica, serif;
  // background-color: #0d0d0d;
  background-color: #000000;
  height: 120px;

  img {
    position: absolute;
    top: 0;
    left: 100px;
  }

  h1 {
    font-size: 40px;
    margin: 0;
    span {
      font-weight: 100;
    }
  }

  .menu-list {
    padding-top: 20px;
    padding-left: 50%;
    ul {
      display: inline;
      font-size: 20px;
      li {
        padding-left: 10px;
        display: inline;
        list-style-type: none;
        font-size: 30px;
        a {
          text-decoration: none;
          color: #e2e2e2;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}