.nav-bar {
  font-family: 'Poiret One';
  background-color: #0d0d0d;
  color: #A9D9CB;
  height: 100px;
  
  h1 {
    font-size: 40px;
    margin: 0;
    span {
      font-weight: 100;
    }
  }

  .menu-list {
    padding-top: 15px;
    padding-left: 50%;
    ul {
      display: inline;
      font-size: 20px;
      li {
        padding-left: 10px;
        display: inline;
        list-style-type: none;
        /*float: right;*/
      }
    }
  }

  .menu-list:hover {
    /*display: initial;*/
  }

}