// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com

.products-index-wrapper {
  margin-top: 40px;
  font-family: 'Poiret One', Helvetica, serif;
  .image-gallery {

  }

  .image-display {
    display: inline-block;
  }
  .product-info {
    text-align: center;
    .desc_container {
      padding-left: 33%;
      display: inline-block;
    }
    h2#title {
      font-size: 40px;
    }
  }
}