// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 100%;
  .product-image {
    width: auto;
    height: auto;
  }
}

// .product:nth
.column {
  margin-bottom: 30px;
}
.column:last-child, .column:nth-last-child(2) {
  margin: 0;
}

.product-desc {
  font-family: 'Reenie Beanie', sans-serif;
  font-size: 24px;
}

.admin-index {
  font-family: Helvetica, sans-serif;
}

.hide {
  display: none;
}

.show {
  display: initial;
}

.products-index-wrapper {
  margin-top: 40px;
  .image-gallery {

  }

  .image-display {
    // padding-left: 33%;
    display: inline-block;
  }

  .desc_container {
    padding-left: 33%;
    display: inline-block;
  }
}