// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  width: 100%;
  .product-image {
    width: auto;
    height: auto;
  }
}
.column {
  margin-bottom: 30px;
}
.column:last-child, .column:nth-last-child(2) {
  margin: 0;
}

.product-desc {
  font-family: 'Reenie Beanie', sans-serif;
}

.admin-index {
  font-family: Helvetica, sans-serif;
}