<!DOCTYPE html>
<html>
<head>
  <title>Shop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>

<div class="nav-bar full-width">
  <div class="grid grid-pad ">
    <div class="col-3-12">
      <div class="content">
        <a href="/"><img src="https://s3-eu-west-1.amazonaws.com/madebymim/homepage/smallerlogonotitle.jpg"></a>
      </div>
    </div>
    <div class="col-9-12">
      <div class="content menu-list">
        <ul>
          <li><a href="/products">Gallery</a></li>
          <li><a href="">About</a></li>
          <li><a href="">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>


<%= yield %>

</body>
</html>
